:root {
    --black: #181818;
    --light-gray: #9a9999;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--black);
    color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}
.container {
    max-width: 1000px;
    margin: 70px auto;
}
.main-info {
    width: 100%;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
}
.main-info .content {
    max-width: 530px;
}
.main-info .content .title {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 500;
}
.main-info .content .links {
    margin-bottom: 40px;
    display: flex;
    gap: 42px;
    font-size: 20px;
}
.main-info .content .links > a {
    color: #5aa6f1;
    text-decoration: none;
}
.main-info .content .links > a:hover {
    color: #2152fd;
}
.main-info .content .photo {
    display: none;
}
.main-info .content .self-promo {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 48px;
}
.main-info .content .achievements {
    max-width: 350px;
    margin-left: 18px;
}
.main-info .content .achievements > ul {
    list-style-image: url("../img/dot.svg");
}
.main-info .content .achievements > ul > li {
    padding-left: 8px;
}
.main-info .content .achievements > ul > li:not(:first-child) {
    margin-top: 24px;
}
.main-info .photo {
    max-width: 400px;
}
.main-info .photo > img {
    width: 100%;
}
.cases .title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 13px;
}
.cases .cases-container .case .case-info {
    display: flex;
    align-items: center;
    padding: 21px 17px 16px 12px;
    border-bottom: 1px solid var(--light-gray);
    cursor: pointer;
    user-select: none;
}
.cases .cases-container .case .case-info > div {
    pointer-events: none;
}
.cases .cases-container .case .case-info .case-name {
    font-size: 20px;
}
.cases .cases-container .case .case-info .nda {
    margin-left: 18px;
    line-height: 24px;
    padding: 0 12px;
    background-color: var(--light-gray);
    text-transform: uppercase;
    border-radius: 8px;
    color: var(--black);
}
.cases .cases-container .case .case-info .open-icon {
    margin-left: auto;
    padding-top: 5px;
}
.cases .cases-container .case .case-info .open-icon > img {
    transition: transform 0.2s ease-in-out;
}
.cases .cases-container .case .case-accordion {
    display: none;
    padding: 16px 86px 32px 86px;
    line-height: 24px;
}
.cases .cases-container .case .case-accordion p {
    line-height: 24px;
    margin-top: 16px;
}
.cases .cases-container .case.opened .open-icon > img {
    transform: rotate(-180deg);
}
.cases .cases-container .case.opened .case-accordion {
    display: block;
}
.tasks {
    margin-top: 24px;
    padding-left: 26px;
}
.tasks .task:not(:last-child) {
    margin-bottom: 24px;
}
.tasks .task .task-title {
    position: relative;
    cursor: pointer;
}
.tasks .task .task-title::before {
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 0;
    left: -26px;
    width: 12px;
    background-image: url("../img/task_arrow.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    transition: transform 0.2s ease-in-out;
}
.tasks .task .task-content {
    display: none;
}
.tasks .task.opened .task-title::before {
    transform: rotate(90deg);
}
.tasks .task.opened .task-content {
    display: block;
}
@media only screen and (max-width: 1000px) {
    body {
        font-size: 1.06em;
        line-height: 22px;
    }
    .container {
        margin: auto;
        padding: 8px 24px 30px 24px;
    }
    .main-info {
        margin-bottom: 40px;
    }
    .main-info .photo {
        display: none;
    }
    .main-info .content {
        max-width: unset;
    }
    .main-info .content .title {
        margin-bottom: 8px;
        line-height: 42px;
        font-size: 28px;
    }
    .main-info .content .links {
        gap: 33px;
        margin-bottom: 24px;
    }
    .main-info .content .photo {
        display: block;
        margin-bottom: 16px;
    }
    .main-info .content .self-promo {
        font-size: 1.1em;
        line-height: 22px;
        margin-bottom: 32px;
    }
    .main-info .content .achievements > ul > li:not(:first-child) {
        margin-top: 14px;
    }
    .cases .title {
        padding-left: 4px;
        font-size: 24px;
        margin-bottom: 16px;
    }
    .cases .cases-container {
        margin: 0 -11px 0 -5px;
    }
    .cases .cases-container .case .case-info {
        padding: 16px 6px 9px 6px;
    }
    .cases .cases-container .case .case-info .case-name {
        font-size: 1.1em;
        margin-right: 6px;
    }
    .cases .cases-container .case .case-info .nda {
        margin-left: auto;
        line-height: 18px;
        font-size: 12px;
    }
    .cases .cases-container .case .case-info .open-icon {
        margin-left: 12px;
    }
    .cases .cases-container .case .case-accordion {
        padding: 0 4px 16px 4px;
        line-height: 22px;
    }
    .tasks {
        margin-top: 16px;
    }
    .tasks .task {
        line-height: 22px;
    }
    .tasks .task .task-content > p {
        line-height: 22px;
    }
}
