:root {
  --black: #181818;
  --light-gray: #9A9999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: #FBFBFB;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  margin: 70px auto;
}

.main-info {
  width: 100%;
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;

  .content {
    max-width: 530px;

    .title {
      margin-bottom: 16px;
      font-size: 48px;
      font-weight: 500;
    }

    .links {
      margin-bottom: 40px;
      display: flex;
      gap: 42px;
      font-size: 20px;

      & > a {
        color: #5AA6F1;
        text-decoration: none;

        &:hover {
          color: #2152FD;
        }
      }
    }

    .photo {
      display: none;
    }

    .self-promo {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 48px;
    }

    .achievements {
      max-width: 350px;
      margin-left: 18px;

      & > ul {
        list-style-image: url("../img/dot.svg");

        & > li {
          padding-left: 8px;

          &:not(:first-child) {
            margin-top: 24px;
          }
        }
      }
    }
  }

  .photo {
    max-width: 400px;

    & > img {
      width: 100%;
    }
  }
}

.cases {
  .title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 21px;
  }

  .cases-container {
    .case {
      .case-info {
        display: flex;
        align-items: center;
        padding: 17px 12px;
        border-bottom: 1px solid var(--light-gray);
        cursor: pointer;
        user-select: none;

        & > div {
          pointer-events: none;
        }

        .case-name {
          font-size: 20px;
        }

        .nda {
          margin-left: 16px;
          line-height: 24px;
          padding: 0 12px;
          background-color: var(--light-gray);
          text-transform: uppercase;
          border-radius: 8px;
          color: var(--black);
        }

        .open-icon {
          margin-left: auto;

          & > img {
            transition: transform .2s ease-in-out;
          }
        }
      }

      .case-accordion {
        display: none;

        .case-accordion-content {
          padding: 32px 86px;
          line-height: 24px;
        }
      }

      &.opened {
        .open-icon > img {
          transform: rotate(-180deg);
        }

        .case-accordion {
          display: block;
        }
      }
    }
  }
}

.tasks {
  margin-top: 24px;
  padding-left: 26px;

  .task {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .task-title {
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        content: ' ';
        top: 0;
        bottom: 0;
        left: -26px;
        width: 12px;
        background-image: url("../img/task_arrow.svg");
        background-repeat: no-repeat;
        background-position-y: center;
        transition: transform .2s ease-in-out;
      }
    }

    .task-content {
      display: none;

      & > p {
        line-height: 24px;
        margin-top: 16px;
      }
    }


    &.opened {
      .task-title::before {
        transform: rotate(90deg);
      }
      .task-content {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 1.06em;
    line-height: 22px;
  }

  .container {
    margin: auto;
    padding: 8px 24px 30px 24px;
  }

  .main-info {
    margin-bottom: 40px;

    .photo {
      display: none;
    }

    .content {
      max-width: unset;

      .title {
        margin-bottom: 8px;
        line-height: 42px;
        font-size: 28px;
      }
      .links {
        gap: 33px;
        margin-bottom: 24px;
      }
      .photo {
        display: block;
        margin-bottom: 16px;
      }
      .self-promo {
        font-size: 1.1em;
        line-height: 22px;
        margin-bottom: 32px;
      }
      .achievements {
        & > ul {
          & > li {
            &:not(:first-child) {
              margin-top: 14px;
            }
          }
        }

      }
    }
  }

  .cases {
    .title {
      padding-left: 4px;
      font-size: 24px;
      margin-bottom: 16px;
    }

    .cases-container {
      margin: 0 -11px 0 -5px;

      .case {
        .case-info {
          padding: 16px 6px 9px 6px;

          .case-name {
            font-size: 1.1em;
            margin-right: 6px;
          }

          .nda {
            margin-left: auto;
            line-height: 18px;
            font-size: 12px;
          }

          .open-icon {
            margin-left: 12px;
          }
        }

        .case-accordion {
          .case-accordion-content {
            padding: 16px 4px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .tasks {
    margin-top: 16px;

    .task {
      line-height: 22px;

      .task-content {
        & > p {
          line-height: 22px;
        }
      }
    }
  }
}